  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }

    body {
      background-color: #060621;
      color: #fff;
      overflow-x: hidden;
    }

    /* Navigation Bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0,0,0,0.3);
  backdrop-filter: blur(10px);
}

nav img.logo {
  height: 60px;
  width: auto;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #ffdd57;
}

nav ul li a span {
  background: #ffdd57;
  color: white;
  padding: 6px 14px;
  border-radius: 20px;
}

a span:hover {
  background: transparent;
  border: #1a136d 2px solid;
  color: #ffdd57;
}

/* ======== Hamburger icon ======== */
.menu-toggle {display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 28px;
  height: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 150;}

.menu-toggle .bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease;
}

/* Hero Section */
.hero {
  position: relative;
  overflow: hidden;
  background: radial-gradient(circle at top left, #1a1a40, #060621);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 180px 145px 100px;
  min-height: 90vh;
}

.hero-text {
  max-width: 600px;
  z-index: 2;
}

.hero-text h5{margin-bottom: 2vw;
  font-size: 40px;
  line-height: 1.2;
  color: #1a136d;
}
.hero-text h1 {
  font-size: 52px;
  line-height: 1.2;
  color: #fff;
}

.hero-text h1 span {
  color: #ffdd57;
}

.hero-text h2 {
  font-size: 28px;
  color: #ffdd57;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 18px;
  color: #ddd;
  line-height: 1.6;
  margin-bottom: 30px;
  max-width: 550px;
}

.hero-img {
  position: relative;
  z-index: 2;
}

.img-frame {
  position: relative;
  width: 300px;
  height: 410px;
  border-radius: 30px;
  overflow: hidden;
  
  background: linear-gradient(45deg, #ffdd57, #ffffff) border-box;
  box-shadow: 0 0 40px rgba(255, 221, 87, 0.3);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.img-frame::before {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: 30px;
  padding: 3px;
  background: linear-gradient(45deg, #eec10a, #ffffff);
  z-index: -1;
  filter: blur(15px); /* soft glow */}

.img-frame img {
  width: 100%;
  height: 100%;
  transform: none!important;
  object-fit: cover;
  border-radius: 30px;
  transition: transform 0.6s ease;
}

/* Hover Effect */
.img-frame:hover {transform: translateY(-10px) scale(1.05);
  box-shadow: 0 0 60px rgba(255, 221, 87, 0.6);}

    .btn { background: #ffdd57;
      color: #060621;
      padding: 12px 28px;
      border-radius: 30px;
      text-decoration: none;
      font-weight: 600;
      transition: 0.3s;}

    .btn:hover {  transform: scale(1.05);}

    /* Sections */
    .skills, .services, .portfolio, .contact, .about{
      padding: 50px 80px;
    }

    .section-title {
      font-size: 36px;
      font-weight: 700;
      text-align: center;
      color: #ffdd57;
      margin-bottom: 60px; }

 /* about me */
   
    .about {padding: 30px 80px;
  background: linear-gradient(135deg, #060621, #0d093a);}

.about-container {height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;}

.about-img {height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  padding-left: 5vw; }

.about-img img {
  width: 300px;
  height: 410px;
  border-radius: 30px;
  object-fit: cover;
  box-shadow: 0 0 40px rgba(255, 221, 87, 0.3);
  transition: transform 0.5s ease, box-shadow 0.5s ease;}

.about-img img:hover {transform: scale(1.05);
  box-shadow: 0 0 60px rgba(255, 221, 87, 0.5);}

.about-text {height: 100%;
  width:50%;
  padding: 5px 40px;}

.about-text h3 {
  font-size: 26px;
  margin-bottom: 20px;
  color: #ffdd57;
}

.about-text p {
  font-size: 18px;
  line-height: 1.3;
  color: #ccc;
  margin-bottom: 25px;
}

.about-text span {
  color: #ffdd57;
}

.about-text .btn {
  background: #ffdd57;
  color: #060621;
  padding: 12px 28px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.about-text .btn:hover { transform: scale(1.05);}

    /* skills section */
    .skills-container {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap:60px;
      margin: 0 5vw;

    }

    .skill {
      background: #0b0b2e;
      padding:25px 20px;
      border-radius: 20px;
      width: 220px;
      text-align: center;
      box-shadow: 0 0 15px rgba(255,221,87,0.2);
    }

    .skill h3 {
      font-size: 22px;
      margin-bottom: 10px;
      color: #ffdd57;
    }

    .skill p {
      font-size: 18px;
    }


    /* Services Section */
    .services-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 60px;
      margin:0 5vw;
    }

    .service {
      background: #0b0b2e;
      padding:12px 40px;
      border-radius: 20px;
      transition: 0.3s;
      box-shadow: 0 0 15px rgba(255,221,87,0.1);
    }

    .service:hover {
      transform: translateY(-10px);
      box-shadow: 0 0 25px rgba(255,221,87,0.3);
    }


    .services h3{
        font-size: 19px;
        margin-bottom: 10px;
        color: #ffdd57;
    }


    /* Portfolio Section */
    .portfolio-grid {height: 320px;
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      gap: 30px;
      padding: 0 4vw;}

    .portfolio-item {height: 100%;
      width: 28%;
      background: #0b0b2e;
      padding: 8px;
      border-radius: 20px;
      overflow: hidden;
      }

    .portfolio-item img {height: 85%;
      width: 100%;
      border-radius: 15px;
      transition: transform 0.3s; }

     .portfolio-item a h3{font-size: 22px;
      color: #ffffff;
      margin-top: 5px;
      text-align: center;}
      
   .portfolio-item a{text-decoration: none;}

  .portfolio-item:hover {
    transform: translateY(-10px);
    box-shadow: 10px 10px 25px rgba(255,221,87,0.3);
    transition: 0.3s ease;}



  .portfolio-item:hover img { transform: scale(1.05); }

/* contact from section */
.contact form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 450px;
  margin: 20px auto;
  background: #0b0b2e;
  padding: 40px;
  border-radius: 25px;
  box-shadow: 10px 10px 20px #070722,
              -10px -10px 20px #0f0f3a;}

input, textarea {
  background: #0b0b2e;
  border: none;
  border-radius: 15px;
  padding: 15px 20px;
  color: #f5f5f5;
  font-size: 16px;
  box-shadow: 6px 6px 10px #070722,
              -6px -6px 10px #0f0f3a;
  transition: all 0.2s ease-in-out;}

input::placeholder,textarea::placeholder {color: #b0b0d6;}

input:focus,textarea:focus {
  box-shadow:inset  6px 6px 10px #070722,
              inset -6px -6px 10px #0f0f3a;
  outline: none;}


    /* Footer */
    footer {text-align: center;
      padding: 30px;
      color: #999;
      background: #05051a;}


/* Mobile Screens (width ≤ 768px) */
@media (max-width: 768px) {

 .hero {flex-direction: column-reverse;
    padding: 120px 25px 60px;
    text-align: center;}

  .hero-text h1 {margin-top: 5vw;
    font-size: 28px;}

  .hero-text h5 { margin-top: 10vw;
    font-size: 24px;}

  .hero-text h2 {font-size: 22px;}

  .hero-text p { font-size: 15px;}

  .img-frame {width: 190px;
    height: 290px;} 

   .hero-text .btn{ font-size: 14px;
    padding: 8px 16px;}

  .about {padding: 30px 35px;}

.about-container {flex-direction: column;
 height: 92vh;
 width: 100%;}

.about-img{height: 27%;
width: 100%;
justify-content: center;}

  .about-text {height: 73%;
  width: 100%;
  padding: 20px 0px;}

.about-img img {width: 140px;
  height: 140px;
  border-radius: 50%;
  box-shadow: 0 0 30px rgba(255, 221, 87, 0.3);}

.about-text h3{font-size: 20px;
  margin-bottom: 15px;}

.about-text p { font-size: 13px;
  margin-bottom: 25px;}

.about-text .btn{ font-size: 14px;
  padding: 8px 16px;}

  .skills, .services, .portfolio, .contact {padding:25px 35px;}

  .skill {width: 100%;
    max-width: 300px;}

  .services-container {grid-template-columns: 1fr;}

.portfolio-grid {height: 720px;
      flex-direction: column;
      align-items: center;}

    .portfolio-item {height: 98%;
      width: 100%;}
  
    .portfolio-item a h3{font-size: 20px;}

  .contact form { width: 100%;
    padding:5px 20px;}

  footer {font-size: 14px;
    padding: 20px;}  


     nav {
    padding: 5px 25px;
  }

  nav ul {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.9);
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    backdrop-filter: blur(10px);}

     nav ul li{margin: 3vw 10vw;}

  .menu-toggle {display: flex;}

  nav ul.active {
    min-height: 310px; 
  }

  .menu-toggle.active .bar:nth-child(1) {
    transform: rotate(45deg) translateY(8px);
  }
  .menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }
  .menu-toggle.active .bar:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px);
  }
}

